In [3]:
import pandas as pd
import numpy as np
import regex as re
import requests
import json

In [344]:
def get_data(url: str) -> list:
    responses = []
    while url:
        url = requests.get(url)
        if url.status_code == 200:
            url = url.json()
            responses.append(url)
            nextPage = url["nextPage"]
            url = nextPage
            print(f"Downloading: {url}")
        else:
            print("Error while accessing API")
    print("Download complete")
    return responses
    
         
 
        
def get_subj(sub: str, header: str, field_numbers: list) -> dict:  
    responses = get_data(f"http://data.bn.org.pl/api/authorities.json?{header}={sub}")
    subjects = []
    for response in responses:
        for authority in response["authorities"]:
            for field in authority["marc"]["fields"]:
                for field_number in field_numbers:
                    if field_number in field:
                        for i in field:
                            subjects.append(list(field[i]["subfields"][-1].values())[0])
                
    subjects_dict = {}
    subjects_dict[sub] = subjects
    return subjects_dict

In [ ]:
subjects = get_subj("Literaturoznawstwo", "subjectCategory", ["450", "550"])
df = pd.DataFrame.from_dict(subjects) 
df.to_csv("subjects.csv")

In [329]:
df

         Literaturoznawstwo
0          Dzieła anonimowe
1     Wydawnictwa anonimowe
2               Anonimowość
3                 Autorstwo
4      Opis bibliograficzny
...                     ...
3493                    Ork
3494                    Orc
3495                   Orcs
3496                Potwory
3497                 Demony

[3498 rows x 1 columns]